html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    color:#484848;
    font-size: 14px;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #FFF;
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #CCC;
}

.icon{
    display: flex;
    width: 180px;
    height: 78px;
    background: #FFF url("../images/logo.png") no-repeat center center;
    padding: 6px 0px 0px 20px;
    align-items: center;   
}

footer{
    background-color: #FFF;
    height: 60px;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: table;
    border-top: solid 1px #CCCCCC;
    overflow: hidden;   
}

.Text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    display: flex;
    background-color: #FFF;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    align-items: center
}

.filter button {
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: auto
}

.filter button:hover {
    opacity: .9;
}

.locations, .amenities {
    margin-left: 30px;
    height: 100%;
    width: 25%
}

.filter div:first-child {
    border-right: solid #DDDDDD 1px;
}

h3 {
    margin: 12px 10px 0px 10px;
    padding: 0px;
    font-weight: 600
}

h4 {
    margin: 6px 10px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400
}