html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    color:#484848;
    font-size: 14px;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #FFF;
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #CCC;
}

.icon{
    display: flex;
    width: 180px;
    height: 78px;
    background: #FFF url("../images/logo.png") no-repeat center center;
    padding: 6px 0px 0px 20px;
    align-items: center;   
}

footer{
    background-color: #FFF;
    height: 60px;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: table;
    border-top: solid 1px #CCCCCC;
    overflow: hidden;   
}

.Text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    display: flex;
    background-color: #FFF;
    height: 70px;
    width: 100%;
    border: solid 1px #DDD;
    border-radius: 4px;
    align-items: center;
}

.filter button {
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
}

.filter button:hover {
    opacity: .9;
}

.filter > .locations, .filter > .amenities {
    height: 100%;
    width: 25%;
}

.filter div:first-child {
    border-right: solid #DDD 1px;
}

h3 {
    margin: 12px 10px 0px 10px;
    padding: 0px;
    font-weight: 600;
}

h4 {
    margin: 6px 10px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
}

.popover {
    position: relative;
    display: inline-block;
}

.popover-list {
    display: none;
    position: absolute;
    margin: 17px 0px;
    padding: 30px 0px;
    width: 100%;
    background-color: #FAFAFA;
    border: solid #DDD 1px;
    border-radius: 4px;
    list-style-type: none;
    z-index: 1;
}

.popover-content > ul {
    list-style-type: none;
    line-height: 24px;
}

.popover-list > li {
    margin-left: 40px;
    line-height: 24px;
}

.popover-list > li > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
}

.popover-list > li > ul > li {
    margin-left: 10px;
    line-height: 24px;
}

.popover:hover .popover-list {
    display: block;
}

.popover-list > li > h2 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}